<template>
  <div
    class="group w-full h-auto flex justify-start items-center text-brand-light py-4 md:py-7 border-b border-border-one border-opacity-70 relative last:border-b-0"
    :title="item.name"
  >
    <div
      class="relative flex rounded overflow-hidden shrink-0 cursor-pointer w-[90px] md:w-[100px] h-[90px] md:h-[100px]"
    >
      <a-image
        :src="
          `https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/products/${item.image_name}` ??
          'https://s3.eu-central-1.amazonaws.com/cdn.babozar/placeholders/cart-item.png'
        "
        :width="100"
        :height="100"
        loading="eager"
        :alt="item.name || 'Product Image'"
        class="object-cover bg-fill-thumbnail"
      />
      <div
        class="absolute top-0 flex items-center justify-center w-full h-full transition duration-200 ease-in-out bg-black ltr:left-0 rtl:right-0 bg-opacity-30 md:bg-opacity-0 md:group-hover:bg-opacity-30"
        @click="cartStore.clearItemFromCart(item.id)"
        role="button"
      >
        <close-circle-filled
          class="relative text-2xl text-white transition duration-300 ease-in-out transform md:scale-0 md:opacity-0 md:group-hover:scale-100 md:group-hover:opacity-100"
        />
      </div>
    </div>

    <div class="flex items-start justify-between w-full overflow-hidden">
      <div class="ltr:pl-3 rtl:pr-3 md:ltr:pl-4 md:rtl:pr-4">
        <router-link
          to="`${ROUTES.PRODUCT}/${item?.slug}`"
          class="block leading-5 transition-all text-brand-dark text-13px sm:text-sm lg:text-15px hover:text-brand"
        >
          {{ item.name }}
        </router-link>
        <div class="text-13px sm:text-sm text-brand-muted mt-1.5 block mb-2">
          {{ item.unit }} X {{ item.buyQuantity }}
        </div>
        <Counter
          :value="item.buyQuantity"
          @onDecrement="handleRemoveClick(cartStore, item.id)"
          @onIncrement="handleAddClick(cartStore, item)"
          :variant="'cart'"
          :disabled="outOfStock"
        />
      </div>

      <div
        class="flex font-semibold text-sm md:text-base text-brand-dark leading-5 shrink-0 min-w-[65px] md:min-w-[80px] justify-end pr-2"
      >
        ${{ totalPrice }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useCartStore } from "@/stores/cart";
import { CloseCircleFilled } from "@ant-design/icons-vue";
import type { ItemCart } from "@/models/home/models";
import { computed } from "vue";
import { handleRemoveClick, handleAddClick } from "@/utils/cartUtils";
import Counter from "@/components/home/Counter.vue";

const props = defineProps<{
  item: ItemCart;
}>();

const cartStore = useCartStore();

const totalPrice = computed(() => {
  if (props.item.buyQuantity) return props.item.price * props.item.buyQuantity;
  return 0;
});

const outOfStock = computed(() => {
  return (
    cartStore.isInCart(props.item.id) && !cartStore.isInStock(props.item.id)
  );
});
</script>

<style scoped>
a:hover {
  background-color: transparent;
}
</style>
