<template>
  <div class="pt-3">
    <div class="flex flex-row justify-between">
      <h4 class="font-bold !text-black">Subtotal</h4>
      <h4 class="font-bold !text-black">${{ total }}</h4>
    </div>
    <p class="!text-black">
      Final price and discounts will be determined at the time of payment
      processing.
    </p>
    <a-button
      :class="`${
        itemsInCart
          ? '!text-white !bg-brand !border-none w-full'
          : '!text-brand-muted !bg-gray-300 !border-none w-full !cursor-not-allowed'
      }`"
      type="primary"
      size="large"
      >Proceed to checkout</a-button
    >
  </div>
</template>

<script setup lang="ts">
defineProps<{
  itemsInCart: boolean;
  total: number;
}>();
</script>

<style scoped></style>
