<template>
  <div
    class="py-2.5 ltr:pl-5 rtl:pr-5 ltr:pr-10 rtl:pl-10 scroll-snap-align-start transition-colors duration-200 hover:bg-fill-base"
  >
    <router-link
      v-for="product in searchResponse"
      :to="`/product/${product.id}`"
      class="flex items-center justify-start w-full h-auto group"
      :key="`search-mobile-${product.id}`"
    >
      <div
        class="relative flex w-12 h-12 overflow-hidden rounded-md cursor-pointer shrink-0 ltr:mr-4 rtl:ml-4"
      >
        <a-image
          :src="
            `https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/products/${product.image_name}` ??
            'https://s3.eu-central-1.amazonaws.com/cdn.babozar/placeholders/product.png'
          "
          :width="48"
          :height="48"
          loading="eager"
          :alt="product.name || 'Product Image'"
          class="object-cover bg-fill-thumbnail"
        />
      </div>
      <div class="flex flex-col w-full overflow-hidden">
        <h3 class="truncate text-brand-dark text-15px">{{ product.name }}</h3>
      </div>
    </router-link>
  </div>
</template>

<script setup lang="ts">
import { inject, ref } from "vue";
import type { Ref } from "vue";
import { mainConfig } from "@/config/mainConfig";
import type { AxiosInstance } from "axios";
import type { Product } from "@/models/home/models";

const axios = inject<Ref<AxiosInstance>>(mainConfig.axiosProvide)?.value;
const emitter = inject("emitter");

if (!emitter || !axios) {
  throw new Error("Undefinded emitter");
}

const searchResponse = ref<Product[]>([]);

(emitter as any).on("mobileSearchAction", async (newQuery: string) => {
  console.log(newQuery);
  const response = await axios
    .post(mainConfig.apis.public.searchProducts, { keyword: newQuery })
    .catch((error) => {
      console.log(error);
    });
  searchResponse.value = response ? response.data.data : [];
});
</script>

<style scoped></style>
