<template>
  <div
    class="lg:hidden fixed z-30 -bottom-0.5 flex flex-row items-center justify-between shadow-bottomNavigation body-font bg-darkBg w-full h-12 px-4 md:px-6 lg:px-8 text-darkText2 pb-0.5"
  >
    <a-button
      type="text"
      aria-label="Menu"
      class="flex flex-col items-center justify-center outline-none shrink-0 focus:outline-none"
      @click="$emit('handleMobileMenu')"
    >
      <menu-outlined />
    </a-button>
    <a-button
      type="text"
      class="flex items-center justify-center h-auto shrink-0 focus:outline-none"
      @click="toggleMobileSearch"
      aria-label="Search Button"
    >
      <search-outlined />
    </a-button>
    <a-button type="text" class="shrink-0" @click="$emit('nav', 'home')">
      <span class="sr-only">Home</span>
      <home-outlined />
    </a-button>
    <div>
      <a-button
        class="cart focus:outline-none"
        type="text"
        @click="$emit('openCart')"
        ><shopping-cart-outlined
      /></a-button>
      <span
        class="min-w-[14px] min-h-[14px] rounded-[14px] flex items-center justify-center bg-brand text-brand-light absolute top-0 ltr:left-8 rtl:right-2.5 text-8px font-bold"
      >
        {{ totalItems }}
      </span>
    </div>
    <a-button
      ref="searchBox"
      class="login-out"
      type="text"
      v-if="auth"
      @click="$emit('logOut')"
      ><logout-outlined
    /></a-button>
    <a-button class="login-out" type="text" v-else @click="$emit('logIn')"
      ><login-outlined
    /></a-button>
  </div>
</template>

<script setup lang="ts">
import {
  MenuOutlined,
  SearchOutlined,
  HomeOutlined,
  ShoppingCartOutlined,
  LoginOutlined,
  LogoutOutlined,
} from "@ant-design/icons-vue";
import { inject } from "vue";

// declare a ref to hold the element reference

// the name must match template ref value
const emitter = inject("emitter");
if (!emitter) {
  throw new Error("undefinded emitter");
}

const toggleMobileSearch = () => {
  (emitter as any).emit("focusMobileSearchBox");
};
defineProps<{
  auth?: boolean;
  totalItems: number;
}>();
</script>

<style scoped>
.ant-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.cart {
  margin-bottom: -4px;
}

.ant-btn-text {
  color: rgba(235, 235, 235, 0.64);
}

.ant-btn-text:hover,
.ant-btn-text:focus {
  color: hsla(160, 100%, 37%, 1);
  background: none;
  border-color: transparent;
}
</style>
