<template>
  <HomeHeader
    @logOut="logOut"
    @logIn="logIn"
    @nav="nav"
    @setLanguage="setLanguage"
    @openCart="openCart"
    :auth="auth"
    :current-lang="currentLang"
    :total-items="totalItems"
  ></HomeHeader>
  <a-modal
    v-model:visible="cartStore.active"
    title="Shopping Cart"
    wrap-class-name="full-modal-right"
    :footer="null"
  >
    <Cart />
  </a-modal>
  <main>
    <slot></slot>
  </main>
  <Footer></Footer>
  <BottomNavigation
    @logOut="logOut"
    @logIn="logIn"
    @nav="nav"
    @openCart="openCart"
    @handleMobileMenu="showMobileMenu"
    :auth="auth"
    :total-items="totalItems"
  ></BottomNavigation>
  <a-modal
    v-model:visible="menuActive"
    title="Menu"
    wrap-class-name="full-modal-left"
    :footer="null"
  >
    <MobileMenu @nav="nav" :auth="auth" />
  </a-modal>
</template>

<script setup lang="ts">
import HomeHeader from "@/components/layouts/headers/HeaderHome.vue";
import { useRoute, useRouter } from "vue-router";
import { useLanguageStore } from "@/stores/language";
import { useCartStore } from "@/stores/cart";
import type Keycloak from "keycloak-js";
import { computed, getCurrentInstance, ref } from "vue";
import { layout } from "@/components/data/layout";
import { mainConfig } from "@/config/mainConfig";
import BottomNavigation from "@/components/layouts/BottomNavigation.vue";
import type { Language } from "@/models/layouts/models";
import Cart from "@/components/layouts/headers/Cart.vue";
import MobileMenu from "@/components/layouts/MobileMenu.vue";

const menuActive = ref<boolean>(false);

const router = useRouter();
const route = useRoute();

const languageStore = useLanguageStore();
const cartStore = useCartStore();

const keycloak: Keycloak.KeycloakInstance | undefined =
  getCurrentInstance()?.appContext.config.globalProperties.$keycloak;

// Set language store based on query
const queryLang = layout.site_header.languageMenu.filter(
  (lang) => lang.value === route.query.lang
);
if (queryLang && queryLang.length > 0) {
  languageStore.setLanguage(
    layout.site_header.languageMenu.filter(
      (lang) => lang.value === route.query.lang
    )[0]
  );
} else {
  router.replace({
    path: route.fullPath,
    query: { lang: languageStore.language.value },
  });
}

const logOut = () => {
  if (keycloak) {
    keycloak.logout({ redirectUri: mainConfig.keycloak.redirectUri });
  }
};

const logIn = () => {
  if (keycloak) {
    keycloak.login({ redirectUri: mainConfig.keycloak.redirectUri });
  }
};

const auth = computed(() => {
  return keycloak?.authenticated;
});

const totalItems = computed(() => {
  return cartStore.totalItems;
});

const nav = (name: string) => {
  router.push({ name, query: { lang: languageStore.language.value } });
};

const currentLang = computed(() => {
  return layout.site_header.languageMenu.filter(
    (lang) => lang.value === languageStore.languageValue
  )[0];
});

const setLanguage = (lang: Language) => {
  languageStore.setLanguage(lang);
  router.replace({
    path: route.fullPath,
    query: { lang: languageStore.language.value },
  });
};

const closeCart = () => {
  cartStore.close();
};

const openCart = () => {
  cartStore.open();
};

const showMobileMenu = () => {
  menuActive.value = true;
};
</script>

<style lang="scss">
.full-modal-right {
  .ant-modal {
    top: 0;
    right: 0;
    padding-bottom: 0;
    margin: 0;
    position: absolute;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }
  .ant-modal-body {
    flex: 1;
    padding: 16px;
  }
}

.full-modal-left {
  .ant-modal {
    top: 0;
    left: 0;
    padding-bottom: 0;
    margin: 0;
    position: absolute;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }
  .ant-modal-body {
    flex: 1;
    padding: 16px;
  }
}
</style>
