<template>
  <a-menu
    class="mobile-menu"
    v-model:openKeys="state.openKeys"
    v-model:selectedKeys="state.selectedKeys"
    mode="inline"
  >
    <a-sub-menu key="sub2">
      <template #title>Navigation </template>
      <a-menu-item
        class="mobile-menu"
        :disabled="!auth"
        @click="$emit('nav', 'home')"
        key="7"
        >Home</a-menu-item
      >
      <a-menu-item
        class="mobile-menu"
        :disabled="!auth"
        @click="$emit('nav', 'about')"
        key="8"
        >About</a-menu-item
      >
      <a-menu-item
        class="mobile-menu"
        :disabled="!auth"
        @click="$emit('nav', 'admin')"
        key="9"
        >Admin</a-menu-item
      >
    </a-sub-menu>
  </a-menu>
</template>

<script setup lang="ts">
import { reactive } from "vue";

const state = reactive({
  selectedKeys: [],
  openKeys: [],
});

defineProps<{
  auth?: boolean;
}>();
</script>

<style>
.mobile-menu {
  color: black !important;
}
.ant-menu-inline {
  border: none;
}
.ant-menu-submenu-arrow::after {
  background-color: hsla(160, 100%, 37%, 1);
}
.ant-menu-submenu-arrow::before {
  background-color: hsla(160, 100%, 37%, 1);
}
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid hsla(160, 100%, 37%, 1);
}
.ant-menu-submenu-selected {
  color: hsla(160, 100%, 37%, 1);
}
</style>
