<template>
  <div v-if="overlay" class="lg:hidden relative px-4">
    <div
      class="w-full transition-all duration-200 ease-in-out top-bar-search z-30 absolute inset-x-0 top-0.5"
    >
      <div
        :class="`overlay cursor-pointer w-full h-full flex top-0 ltr:left-0 rtl:right-0 transition-all duration-300 fixed open ${
          overlay ? 'visible opacity-1' : 'invisible opacity-0'
        }`"
        @click="toggleOverlay"
      ></div>
      <div class="relative z-30 flex flex-col justify-center w-full shrink-0">
        <div class="flex flex-col w-full mx-auto">
          <form class="relative flex w-full rounded-md" role="search">
            <label for="search" class="flex flex-1 items-center py-0.5"
              ><input
                ref="input"
                id="search"
                class="text-heading outline-none w-full h-[46px] ltr:pl-5 rtl:pr-5 md:ltr:pl-6 md:rtl:pr-6 ltr:pr-14 rtl:pl-14 md:ltr:pr-16 md:rtl:pl-16 bg-brand-light text-brand-dark text-sm lg:text-15px rounded-md transition-all duration-200 focus:border-brand focus:ring-0 placeholder:text-brand-dark/50 border border-border-base"
                placeholder="What are you looking..."
                aria-label="search"
                autocomplete="off"
                :value="query"
                @input="searchProduct"
                name="search" /></label
            ><span
              class="absolute !text-black top-0 flex items-center justify-center h-full w-14 md:w-16 ltr:right-0 rtl:left-0 shrink-0 focus:outline-none"
              ><search-outlined @click="searchProduct"
            /></span>
          </form>
        </div>
        <div
          v-if="query"
          class="w-full absolute top-[50px] ltr:left-0 rtl:right-0 py-2.5 bg-brand-light rounded-md flex flex-col overflow-hidden shadow-dropDown z-30"
        >
          <div class="overflow-y-auto w-full">
            <SuspenseWithLoading>
              <AutoCompleteProducts />
            </SuspenseWithLoading>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { SearchOutlined } from "@ant-design/icons-vue";
import { ref, inject, nextTick } from "vue";
import SuspenseWithLoading from "@/components/SuspenseWithLoading.vue";
import AutoCompleteProducts from "@/components/layouts/AutoCompleteProducts.vue";
import { watch } from "vue";

const emitter = inject("emitter");
if (!emitter) {
  throw new Error("undefinded emitter");
}

const input = ref(null);

const createDebounce = (fnc: () => void, delayMs?: number) => {
  let timeout: any = null;
  clearTimeout(timeout);
  timeout = setTimeout(() => {
    fnc();
  }, delayMs || 500);
};

const query = ref("");

const overlay = ref<boolean>(false);

watch(query, (newQuery) => {
  (emitter as any).emit("mobileSearchAction", newQuery);
});

(emitter as any).on("focusMobileSearchBox", async () => {
  toggleOverlay();

  await nextTick();
  if (input.value !== null) {
    (input.value as any).focus();
  }
});

const toggleOverlay = () => {
  overlay.value = !overlay.value;
  if (!overlay.value) {
    query.value = "";
  }
};

const searchProduct = (e: Event) => {
  createDebounce(() => {
    query.value = (e.target as HTMLInputElement).value;
  }, 400);
};
</script>

<style scoped>
.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 21;
}
</style>
