<template>
  <div class="content">
    <h1>This is an about page</h1>
    <p>{{ response && response.data.data }}</p>
    <a-input placeholder="Basic usage" v-model:value="userName">
      <template #prefix>
        <user-outlined type="user" />
      </template>
      <template #suffix>
        <a-tooltip title="Extra information">
          <info-circle-outlined style="color: rgba(0, 0, 0, 0.45)" />
        </a-tooltip>
      </template>
    </a-input>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from "vue-router";
import { inject, ref } from "vue";
import type { Ref } from "vue";
import { mainConfig } from "@/config/mainConfig";
import type { AxiosInstance } from "axios";
import { UserOutlined, InfoCircleOutlined } from "@ant-design/icons-vue";
import type { Category } from "@/models/home/models";

const userName = ref<string>("");
const axios = inject<Ref<AxiosInstance>>(mainConfig.axiosProvide)?.value;
const router = useRouter();
if (!axios) {
  throw Error("Could not inject axios object");
}
const response = await axios
  .get(mainConfig.apis.brand.getPage)
  .catch((error) => {
    console.log(error);
    if (error.response) {
      router.push({
        name: "error",
        params: {
          errorStatus: error.response.status,
          msg: error.response.data,
        },
      });
    }
  });
</script>

<style lang="scss">
@import "../../assets/styles/base";
</style>
