<template>
  <h1>Product</h1>
  <p>{{ product }}</p>
  <h1>Related Products</h1>
  <p>{{ relatedProduct }}</p>
</template>

<script setup lang="ts">
import { useRoute } from "vue-router";
import { inject, ref, watch } from "vue";
import type { Ref } from "vue";
import type { AxiosInstance } from "axios";
import { mainConfig } from "@/config/mainConfig";
import type { Product } from "@/models/home/models";

const axios = inject<Ref<AxiosInstance>>(mainConfig.axiosProvide)?.value;
if (!axios) {
  throw new Error("Undefinded emitter");
}

const product = ref<Product>();
const relatedProduct = ref<Product[]>();
const route = useRoute();

// fetch the user information when params change
watch(
  () => route.params.id,
  async (newId) => {
    const productByIdRes = await axios
      .post(mainConfig.apis.public.getProductById, { id: newId })
      .catch((error) => {
        console.log(error);
      });
    product.value = productByIdRes && productByIdRes.data.data[0];
    const relatedProducts = await axios
      .post(mainConfig.apis.public.getRelatedProduct, {
        id: product.value?.id,
        categoryId: product.value?.category_id,
        tags: product.value?.p_tags?.split(","),
      })
      .catch((error) => {
        console.log(error);
      });

    relatedProduct.value = relatedProducts && relatedProducts.data.data;
  },
  { immediate: true }
);
</script>

<style scoped></style>
