<template>
  <HomeLayout>
    <SuspenseWithLoading>
      <About />
    </SuspenseWithLoading>
  </HomeLayout>
</template>

<script setup lang="ts">
import About from "@/components/about/About.vue";
import HomeLayout from "@/components/layouts/HomeLayout.vue";
import SuspenseWithLoading from "@/components/SuspenseWithLoading.vue";
</script>

<style lang="scss">
@import "/src/assets/styles/base.scss";
</style>
