<template>
  <HomeLayout>
    <h1 class="green">Admin {{ counterStore.doubleCount }}</h1>
    <a-button @click="counterStore.incrementBy(1)">Increment</a-button>
  </HomeLayout>
</template>

<script setup lang="ts">
import HomeLayout from "@/components/layouts/HomeLayout.vue";
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>

<style lang="scss">
@import "/src/assets/styles/base.scss";
</style>
