<template>
  <HomeLayout>
    <h1>Error!</h1>
    <h2>{{ errorStatus }}</h2>
    <p>{{ msg }}</p>
  </HomeLayout>
</template>

<script setup lang="ts">
import HomeLayout from "@/components/layouts/HomeLayout.vue";

defineProps<{
  errorStatus: number | string;
  msg: string;
}>();
</script>

<style lang="scss">
@import "/src/assets/styles/base.scss";
</style>
