<script setup lang="ts">
import HomeLayout from "@/components/layouts/HomeLayout.vue";
import DownloadApp from "@/components/home/DownloadApp.vue";
import HomeBannerCard from "@/components/home/HomeBannerCard.vue";
import BundleGrid from "@/components/home/BundleGrid.vue";
import CategoryGridBlock from "@/components/home/CategoryGridBlock.vue";
import BestSellerProductFeed from "@/components/home/BestSellerProductFeed.vue";
import PopularProductFeed from "@/components/home/PopularProductFeed.vue";
import CollectionGrid from "@/components/home/CollectionGrid.vue";
import SuspenseWithLoading from "@/components/SuspenseWithLoading.vue";
</script>

<template>
  <HomeLayout>
    <HomeBannerCard />
    <div class="content">
      <BundleGrid />
      <SuspenseWithLoading>
        <CategoryGridBlock />
      </SuspenseWithLoading>
      <SuspenseWithLoading>
        <BestSellerProductFeed />
      </SuspenseWithLoading>
      <PopularProductFeed />
    </div>
    <CollectionGrid />
    <DownloadApp />
  </HomeLayout>
</template>

<style lang="scss">
@import "/src/assets/styles/base.scss";
</style>
