<template>
  <HomeLayout>
    <SuspenseWithLoading>
      <Product />
    </SuspenseWithLoading>
  </HomeLayout>
</template>

<script setup lang="ts">
import HomeLayout from "@/components/layouts/HomeLayout.vue";
import SuspenseWithLoading from "@/components/SuspenseWithLoading.vue";
import Product from "@/components/product/Product.vue";
</script>

<style scoped></style>
