<template>
  <div class="pb-20 lg:pb-7 px-4">
    <div
      class="flex flex-col pt-6 text-center md:flex-row md:justify-between border-border-three lg:pt-7 border-t"
    >
      <p class="text-sm leading-7 lg:leading-[27px] lg:text-15px">
        &copy;&nbsp;Copyright {{ new Date().getFullYear() }}&nbsp;
        <a
          class="transition-colors duration-200 ease-in-out hover:text-brand"
          :href="layout.author.websiteUrl"
        >
          {{ layout.author.name }}
        </a>
        &nbsp; All rights reserved
      </p>
      <ul
        v-if="payment"
        class="flex flex-wrap justify-center items-center -mb-1.5 md:mb-0 mx-auto md:mx-0 pt-3.5 md:pt-0"
      >
        <li
          v-for="method in payment"
          class="inline-flex mb-2 transition md:mb-0 hover:opacity-80 ltr:mr-4 sm:ltr:mr-5 lg:ltr:mr-7 last:ltr:mr-0 rtl:ml-4 sm:rtl:ml-5 lg:rtl:ml-7 last:rtl:ml-0"
          :key="method.id"
        >
          <a
            :href="method.path"
            target="_blank"
            class="inline-flex"
            rel="noreferrer"
          >
            <img
              :src="method.image"
              :alt="method.name"
              :height="method.height"
              :width="method.width"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { layout } from "@/components/data/layout";
import type { Payment } from "@/models/layouts/models";
defineProps<{
  payment: Payment[];
}>();
</script>

<style scoped></style>
