<template>
  <footer class="mt-[40px] lg:mt-14 2xl:mt-16">
    <div class="mx-auto max-w-[1920px] px-4 md:px-6 lg:px-8 2xl:px-10">
      <div
        class="grid grid-cols-2 md:grid-cols-7 xl:grid-cols-12 gap-5 sm:gap-9 lg:gap-11 xl:gap-7 pb-[20px]"
      >
        <WidgetAbout :social="social" />
        <WidgetLink
          v-for="widget in widgets"
          :key="widget.id"
          :data="widget"
          class="pb-3.5 sm:pb-0 col-span-1 md:col-span-2"
        />
        <WidgetSubscription />
      </div>
    </div>
    <Copyright :payment="payment"></Copyright>
  </footer>
</template>

<script setup lang="ts">
import WidgetAbout from "@/components/layouts/footers/widgets/WidgetAbout.vue";
import WidgetLink from "@/components/layouts/footers/widgets/WidgetLink.vue";
import Copyright from "@/components/layouts/footers/Copyright.vue";
import { footer } from "@/components/data/footer";
import WidgetSubscription from "@/components/layouts/footers/widgets/WidgetSubscription.vue";

const { widgets, social, payment } = footer;
</script>

<style lang="scss"></style>
