<template>
  <template v-if="remainStock">
    <span
      class="text-[11px] md:text-xs font-bold text-brand-light uppercase inline-block bg-brand-danger rounded-full px-2.5 pt-1 pb-[3px] mx-0.5 sm:mx-1"
    >
      Out of stock
    </span>
  </template>
  <template v-else>
    <template v-if="!cartStore.isInCart(item?.id)">
      <button
        class="flex items-center justify-center w-8 h-8 text-4xl rounded-full bg-brand lg:w-8 lg:w-8 text-brand-light focus:outline-none"
        aria-label="Count Button"
        @click="handleAddClick(cartStore, item)"
        :disabled="outOfStock"
      >
        <plus-outlined :style="{ fontSize: '16px' }" />
      </button>
    </template>
    <template v-else>
      <Counter
        :value="counterValue"
        @onDecrement="handleRemoveClick(cartStore, item.id)"
        @onIncrement="handleAddClick(cartStore, item)"
        :disabled="outOfStock"
        :variant="'default'"
        class="w-full"
      />
    </template>
  </template>
</template>

<script setup lang="ts">
import type { Product } from "@/models/home/models";
import { useCartStore } from "@/stores/cart";
import { PlusOutlined } from "@ant-design/icons-vue";
import Counter from "@/components/home/Counter.vue";
import { computed } from "vue";
import { handleRemoveClick, handleAddClick } from "@/utils/cartUtils";

const props = defineProps<{
  item: Product;
}>();

const remainStock = props.item.quantity < 1;
const cartStore = useCartStore();

const cartValue = localStorage.getItem("borobazar-cart");
if (cartValue) {
  cartStore.$patch(JSON.parse(cartValue));
}

cartStore.$subscribe((mutation, state) => {
  cartStore.calculateTotal();
  cartStore.calculateTotalItems();
  cartStore.calculateUniqueItems();
  localStorage.setItem("borobazar-cart", JSON.stringify(state));
});

const outOfStock = computed(() => {
  return (
    cartStore.isInCart(props.item.id) && !cartStore.isInStock(props.item.id)
  );
});

const counterValue = computed(() => {
  const itemForCounter = cartStore.getItemFromCart(props.item.id);
  if (!itemForCounter) {
    throw new Error("undefined item");
  }

  return itemForCounter.buyQuantity ? itemForCounter.buyQuantity : 0;
});
</script>

<style scoped></style>
