<template>
  <div class="mb-12 lg:mb-14 xl:mb-16 3xl:pb-2">
    <GridHeading
      :heading="'Best seller grocery near you'"
      :description="'We provide best quality & fresh grocery items near your location'"
    />
    <div
      class="grid grid-cols-2 gap-3 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 3xl:grid-cols-7 md:gap-4 2xl:gap-5"
    >
      <ProductCard
        v-for="product in products"
        :key="`home-best-product-${product.id}`"
        :item="product"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import GridHeading from "@/components/home/GridHeading.vue";
import { inject } from "vue";
import type { Ref } from "vue";
import type { AxiosInstance } from "axios";
import { mainConfig } from "@/config/mainConfig";
import { useRouter } from "vue-router";
import ProductCard from "@/components/home/ProductCard.vue";

const router = useRouter();

const axios = inject<Ref<AxiosInstance>>(mainConfig.axiosProvide)?.value;

if (!axios) {
  throw Error("Could not inject axios object");
}

const response = await axios
  .get(mainConfig.apis.public.getHomeBestProducts)
  .catch((error) => {
    console.log(error);
    if (error.response) {
      router.push({
        name: "error",
        params: {
          errorStatus: error.response.status,
          msg: error.response.data,
        },
      });
    }
  });
const products = response && response.data.data;
</script>

<style scoped></style>
