<template>
  <div class="mb-12 lg:mb-14 xl:mb-16 2xl:mb-20 mb-12 pb-0.5">
    <div v-if="width < 1536">
      <Carousel :breakpoints="breakpoints">
        <Slide v-for="item in bundle" :key="`bundle-key-${item.id}`">
          <BundleCard
            :className="'carousel__item'"
            :key="`bundle-key-${item.id}`"
            :bundle="item"
            :link="`bundle/${item.slug}`"
          />
        </Slide>
      </Carousel>
    </div>
    <div v-else>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
        <BundleCard
          v-for="item in bundle"
          :key="`bundle-key-${item.id}`"
          :bundle="item"
          :link="`bundle/${item.slug}`"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useWindowSize } from "@vueuse/core";
import { bundleDataTwo as bundle } from "@/components/data/bundle";
import BundleCard from "@/components/home/BundleCard.vue";
import { Carousel, Slide, Navigation } from "vue3-carousel";
import "vue3-carousel/dist/carousel.css";

const { width } = useWindowSize();

const breakpoints = {
  // 700px and up
  1024: {
    itemsToShow: 3,
    snapAlign: "start",
  },
  // 1024 and up
  600: {
    itemsToShow: 2,
    snapAlign: "start",
  },
  0: {
    slidesPerView: 1,
    snapAlign: "start",
  },
};
</script>

<style scoped>
.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: hsla(160, 100%, 37%, 1);
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}
</style>
