<template>
  <router-link :to="link" :class="`flex group ${className}`">
    <div
      :class="`relative flex items-center w-full overflow-hidden ${className}`"
      :style="{
        backgroundColor: bundle.bgColor,
      }"
    >
      <div
        class="flex shrink-0 w-36 lg:w-32 xl:w-40 2xl:w-36 3xl:w-[180px] ltr:pr-1.5 rtl:pl-1.5 2xl:ltr:pr-2.5 2xl:rtl:pl-2.5"
      >
        <img
          :src="
            `https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/bundle/${bundle.image}` ??
            'https://s3.eu-central-1.amazonaws.com/cdn.babozar/placeholders/collection.svg'
          "
          :alt="bundle.title"
          :width="180"
          :height="150"
          class="object-cover transition duration-200 ease-in-out transform bg-sink-thumbnail group-hover:scale-105"
        />
      </div>
      <div
        class="py-3 lg:py-5 ltr:pr-4 rtl:pl-4 lg:ltr:pr-3 lg:rtl:pl-3 xl:ltr:pr-4 xl:rtl:pl-4"
      >
        <h2
          class="mb-[5px] text-black text-base xl:text-lg xl:leading-7 font-semibold font-manrope"
        >
          {{ bundle.title }}
        </h2>
        <p class="text-sm text-black leading-6 lg:text-13px xl:text-sm">
          {{ bundle.description }}
        </p>
      </div>
    </div>
  </router-link>
</template>

<script setup lang="ts">
import type { BundleCardTwo } from "@/models/home/models";

defineProps<{
  bundle: BundleCardTwo;
  link: string;
  className?: string;
}>();
</script>

<style>
.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: transparent;
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 12px;
}

.carousel__prev {
  background-color: hsla(160, 100%, 37%, 1) !important;
  left: -10px !important;
}

.carousel__next {
  background-color: hsla(160, 100%, 37%, 1) !important;
  right: -10px !important;
}
</style>
