<template>
  <div
    class="md:pt-3 lg:pt-0 3xl:pb-2 mb-12 sm:mb-14 md:mb-16 xl:mb-24 2xl:mb-16"
  >
    <GridHeading
      :heading="'What food you love to order'"
      :description="'Here order your favorite foods from different categories'"
    />
    <div class="block 2xl:flex justify-center flex-wrap 3xl:-mx-3.5">
      <template v-if="width < 1536">
        <Carousel :breakpoints="breakpoints" class="category">
          <Slide
            v-for="category in categories"
            :key="`category--key-${category.id}`"
          >
            <CategoryCard
              :item="category"
              :href="`category/${category.slug}`"
            />
          </Slide>
        </Carousel>
      </template>
      <template v-else>
        <CategoryCard
          v-for="category in categories"
          :key="`category--key-${category.id}`"
          :item="category"
          :href="`category/${category.slug}`"
        />
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Carousel, Slide, Navigation } from "vue3-carousel";
import "vue3-carousel/dist/carousel.css";
import { useWindowSize } from "@vueuse/core";
import { inject } from "vue";
import type { Ref } from "vue";
import type { AxiosInstance } from "axios";
import { mainConfig } from "@/config/mainConfig";
import { useRouter } from "vue-router";
import CategoryCard from "@/components/home/CategoryCard.vue";
import GridHeading from "@/components/home/GridHeading.vue";

const { width } = useWindowSize();

const breakpoints = {
  1640: {
    itemsToShow: 9,
    snapAlign: "start",
  },
  1280: {
    itemsToShow: 7,
    snapAlign: "start",
  },
  1024: {
    itemsToShow: 6,
    snapAlign: "start",
  },
  768: {
    itemsToShow: 5,
    snapAlign: "start",
  },
  530: {
    itemsToShow: 4,
    snapAlign: "start",
  },
  0: {
    itemsToShow: 3,
    snapAlign: "start",
  },
};

const axios = inject<Ref<AxiosInstance>>(mainConfig.axiosProvide)?.value;
const router = useRouter();
if (!axios) {
  throw Error("Could not inject axios object");
}

const response = await axios
  .get(mainConfig.apis.public.getAllCategory)
  .catch((error) => {
    console.log(error);
    if (error.response) {
      router.push({
        name: "error",
        params: {
          errorStatus: error.response.status,
          msg: error.response.data,
        },
      });
    }
  });

// if response is not null => = response.data.data
const categories = response && response.data.data;
</script>

<style>
.category .carousel__next {
  top: 42% !important;
}

.category .carousel__prev {
  top: 42% !important;
}
</style>
