<template>
  <router-link
    :to="href"
    class="group block w-full text-center shrink-0 2xl:px-3.5 2xl:w-[12.5%] 3xl:w-1/9 category-link"
  >
    <div
      class="flex max-w-[178px] max-h-[178px] mb-3.5 xl:mb-4 mx-auto rounded-full overflow-hidden bg-fill-thumbnail"
    >
      <div
        class="flex shrink-0 transition-all duration-700 w-full h-full transform scale-50 group-hover:scale-100 -translate-x-full group-hover:translate-x-0"
      >
        <img
          :src="
            `https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/category/${item.image_name}` ??
            'https://s3.eu-central-1.amazonaws.com/cdn.babozar/placeholders/category.png'
          "
          :alt="item.name"
          :width="178"
          :height="178"
          class="object-cover rounded-full"
        />
      </div>
      <div
        class="flex shrink-0 transition-all duration-700 w-full h-full transform scale-100 group-hover:scale-50 -translate-x-full group-hover:translate-x-0"
      >
        <img
          :src="
            `https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/category/${item.image_name}` ??
            'https://s3.eu-central-1.amazonaws.com/cdn.babozar/placeholders/category.png'
          "
          :alt="item.name"
          :width="178"
          :height="178"
          class="object-cover rounded-full"
        />
      </div>
    </div>
    <p class="capitalize text-sm sm:text-15px lg:text-base truncate">
      {{ item.name }}
    </p>
  </router-link>
</template>

<script setup lang="ts">
import type { Category } from "@/models/home/models";

defineProps<{
  item: Category;
  href: string;
}>();
</script>

<style scoped>
.category-link:hover {
  background-color: transparent;
}
</style>
