<template>
  <div
    :class="`flex items-center justify-between rounded overflow-hidden shrink-0
    ${
      variant === 'default'
        ? 'h-9 md:h-10 bg-brand-light shadow-counter rounded-3xl'
        : 'inline-flex'
    } `"
  >
    <button
      @click="$emit('onDecrement')"
      :class="`flex items-center justify-center shrink-0 h-full transition-all ease-in-out duration-300 focus:outline-none focus-visible:outline-none
      ${
        variant === 'default'
          ? 'w-8 md:w-12 h-8 rounded-2xl text-black hover:bg-fill-four ltr:ml-1 rtl:mr-1'
          : 'w-6 h-6 border border-border-three hover:bg-brand text-black hover:border-brand rounded-full hover:text-brand-light'
      } `"
    >
      <span class="sr-only">Minus button</span>
      <minus-outlined />
    </button>
    <span
      :class="`font-semibold text-brand-dark flex items-center justify-center h-full transition-colors duration-250 ease-in-out cursor-default shrink-0
      ${
        variant === 'default'
          ? 'text-sm md:text-base w-6 md:w-8'
          : 'text-15px w-9'
      }`"
    >
      {{ value }}
    </span>
    <button
      @click="$emit('onIncrement')"
      :disabled="disabled"
      :class="`group flex items-center justify-center h-full shrink-0 transition-all ease-in-out duration-300 focus:outline-none focus-visible:outline-none
      ${
        variant === 'default'
          ? 'w-8 md:w-12 h-8 rounded-2xl text-black hover:bg-fill-four ltr:mr-1 rtl:ml-1 '
          : 'w-6 h-6 border text-black border-border-three rounded-full '
      }
      ${
        disabled
          ? 'text-brand-muted cursor-not-allowed'
          : 'hover:bg-brand hover:border-brand hover:text-brand-light'
      }`"
    >
      <span class="sr-only">Button plus</span>
      <plus-outlined />
    </button>
  </div>
</template>

<script setup lang="ts">
import { MinusOutlined, PlusOutlined } from "@ant-design/icons-vue";

defineProps<{
  value?: number;
  variant: string;
  disabled: boolean;
}>();
</script>

<style scoped></style>
