<template>
  <div class="bg-fill-two overflow-hidden pt-1.5 md:pt-0">
    <div
      class="max-w-[1920px] mx-auto px-4 sm:px-5 md:px-6 lg:px-16 xl:px-28 2xl:px-32 3xl:px-40 md:flex justify-between items-center"
    >
      <div
        class="shrink-0 mx-auto md:ltr:ml-0 md:rtl:mr-0 lg:flex lg:items-center pb-5 pt-1.5 md:pt-4 max-w-[350px] md:max-w-[340px] lg:max-w-[485px] xl:max-w-[540px] 2xl:max-w-[680px] 3xl:ltr:pl-10 3xl:rtl:pr-10"
      >
        <div
          class="py-8 text-center xl:py-10 2xl:py-14 md:ltr:text-left md:rtl:text-right"
        >
          <h2
            class="text-[22px] md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-[42px] leading-9 lg:leading-[1.4em] xl:leading-[1.45em] text-brand-dark font-bold font-manrope -tracking-[0.2px] mb-3 lg:mb-4"
          >
            {{ title }}
          </h2>
          <p
            class="text-15px xl:text-base 2xl:text-[17px] leading-7 xl:leading-9 text-brand-dark text-opacity-70 pb-5 lg:pb-7 ltr:pr-0 rtl:pl-0 xl:ltr:pr-8 xl:rtl:pl-8 2xl:ltr:pr-20 2xl:rtl:pl-20"
          >
            {{ description }}
          </p>
          <div
            class="flex justify-center md:justify-start -mx-1 md:-mx-1.5 pt-0.5 px-7 sm:px-0"
          >
            <a
              v-for="item in appButtons"
              :key="item.id"
              :href="item.slug"
              class="inline-flex transition duration-200 ease-in hover:box-shadow hover:opacity-80 mx-1 md:mx-1.5"
            >
              <img
                :src="item.appButton"
                :alt="item.altText"
                class="rounded-md w-36 lg:w-44 xl:w-auto"
                :width="item.buttonWidth"
                :height="item.buttonHeight"
              />
            </a>
          </div>
        </div>
      </div>
      <div
        class="hidden md:flex items-end ltr:pl-4 rtl:pr-4 2xl:ltr:pl-0 2xl:rtl:pr-0 md:max-w-[480px] lg:max-w-[540px] xl:max-w-auto ltr:-mr-16 rtl:-ml-16 lg:ltr:-mr-8 lg:rtl:-ml-8 3xl:ltr:mr-24 3xl:rtl:ml-24"
      >
        <img
          :src="appImage"
          alt="text-app-thumbnail"
          :width="597"
          :height="500"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { downloadApp } from "@/components/data/downloadApp";

const { appButtons, title, description, appImage } = downloadApp;
</script>

<style lang="scss">
@import "../../assets/styles/base";
</style>
