<template>
  <h2
    class="text-lg lg:text-xl xl:text-[22px] xl:leading-8 font-bold text-center"
  >
    {{ heading }}
  </h2>
  <p
    class="pb-0.5 mt-1.5 lg:mt-2.5 xl:mt-3 text-sm leading-7 lg:text-15px xl:text-base text-center"
  >
    {{ description }}
  </p>
</template>

<script setup lang="ts">
defineProps<{
  heading: string;
  description: string;
}>();
</script>

<style scoped></style>
