<template>
  <div
    class="w-full bg-fill-thumbnail bg-no-repeat bg-cover bg-center flex items-center hero-banner-six min-h-[400px] md:min-h-[460px] lg:min-h-[500px] xl:min-h-[650px] py-20 py:pt-24 mb-5 2xl:bg-center"
    :style="{ backgroundImage: `url(${getImageBanner(width, image)})` }"
  >
    <div
      class="mx-auto h-full flex flex-col text-center px-6 xl:max-w-[750px] 2xl:max-w-[850px] max-w-[480px] md:max-w-[550px]"
    >
      <div class="text-center">
        <h2
          class="text-3xl md:text-4xl font-manrope font-extrabold leading-snug md:leading-tight xl:leading-[1.3em] mb-3 md:mb-4 xl:mb-3 -mt-2 xl:-mt-3 2xl:-mt-4 text-brand-tree-dark xl:text-5xl 2xl:text-[55px]"
        >
          {{ title }}
        </h2>
        <p
          class="text-base md:text-[17px] xl:text-lg leading-7 md:leading-8 xl:leading-[1.92em] xl:px-16 text-brand-dark text-opacity-80 2xl:px-32"
        >
          {{ description }}
        </p>
        <div
          v-if="banner.searchBox"
          class="hidden lg:flex max-w-[620px] mx-auto md:pt-1 lg:pt-3"
        >
          <SearchBox />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { homeSixHeroBanner as banner } from "@/components/data/banner";
import SearchBox from "@/components/home/SearchBox.vue";
import { useWindowSize } from "@vueuse/core";
import type { Banner } from "@/models/layouts/models";

const { width } = useWindowSize();
const { title, description, image }: Banner = banner;
const getImageBanner = (deviceWidth: number, imgObj: any) => {
  return deviceWidth < 480 ? imgObj.mobile.url : imgObj.desktop.url;
};
</script>

<style scoped>
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-banner-six {
    background-position: 15% center;
  }
  .page-header-banner {
    background-position: 17% center;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .hero-banner-six {
    background-position: 42% center;
  }
  .page-header-banner {
    background-position: 80% center;
  }
}
@media (min-width: 1280px) and (max-width: 1535px) {
  .hero-banner-six {
    background-position: 35% center;
  }
}
</style>
