<template>
  <article
    class="flex flex-col group overflow-hidden rounded-md cursor-pointer transition-all duration-300 shadow-card hover:shadow-cardHover relative h-full"
    @click.prevent=""
    :title="item.name"
  >
    <div class="relative shrink-0">
      <div
        class="flex overflow-hidden mx-auto transition duration-200 ease-in-out transform group-hover:scale-105 relative"
      >
        <img
          :src="`https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/products/${item.image_name}`"
          :alt="item.name"
          class="object-cover bg-fill-thumbnail"
          :style="{
            height: '230px',
            width: '100%',
          }"
        />
      </div>
      <div
        class="w-full h-full absolute top-0 pt-2.5 md:pt-3.5 px-3 md:px-4 lg:px-[18px] z-10 -mx-0.5 sm:-mx-1"
      >
        <span
          v-if="item.flash_sale"
          class="text-[11px] md:text-xs font-bold text-brand-light uppercase inline-block bg-brand rounded-full px-2.5 pt-1 pb-[3px] mx-0.5 sm:mx-1"
        >
          On sale
        </span>
        <div class="block product-count-button-position">
          <AddToCart :item="item" />
        </div>
      </div>
    </div>

    <div
      class="flex flex-col px-3 md:px-4 lg:px-[18px] pb-5 lg:pb-6 lg:pt-1.5 h-full"
    >
      <div class="mb-1 lg:mb-1.5 -mx-1">
        <span
          class="inline-block mx-1 text-sm font-semibold sm:text-15px lg:text-base"
        >
          {{
            item.flash_sale ? `$ ${item.sale_price}` : `$ ${item.sale_price}`
          }}
        </span>
        <del v-if="item.flash_sale" class="mx-1 text-sm text-opacity-70">
          ${{ item.price }}
        </del>
      </div>
      <h2
        class="text-13px sm:text-sm lg:text-15px leading-5 sm:leading-6 mb-1.5"
      >
        {{ item.name }}
      </h2>
      <div class="mt-auto text-13px sm:text-sm">{{ item.unit }}</div>
    </div>
  </article>
</template>

<script setup lang="ts">
import type { Product } from "@/models/home/models";
import AddToCart from "@/components/home/AddToCart.vue";

defineProps<{
  item: Product;
}>();
</script>

<style scoped>
.product-count-button-position {
  @apply absolute bottom-3 lg:bottom-2 w-full ltr:left-1 rtl:right-1 flex justify-center px-2.5 lg:px-3 xl:px-4;
}
.product-count-button-position > button {
  @apply ltr:ml-auto rtl:mr-auto;
}
.product-count-button-position > div {
  @apply w-[calc(100%-28px)] xl:w-[calc(100%-50px)];
}
</style>
