<template>
  <a-form
    class="w-full"
    :model="formState"
    name="search_box"
    layout="vertical"
    autocomplete="off"
    @finish="onFinish"
    @finishFailed="onFinishFailed"
  >
    <a-form-item name="searchTerm" :rules="[{ required: false }]">
      <a-input
        v-model:value="formState.searchTerm"
        size="large"
        placeholder="What are you looking ..."
      >
        <template #suffix>
          <a-button
            :disabled="disabled"
            type="text"
            html-type="submit"
            class="search-icon !p-0 border-none background-none"
            ><SearchOutlined class="site-form-item-icon"
          /></a-button>
        </template>
      </a-input>
    </a-form-item>
  </a-form>
</template>

<script setup lang="ts">
import { SearchOutlined } from "@ant-design/icons-vue";
import { useRouter } from "vue-router";
import { computed, reactive } from "vue";

const router = useRouter();

interface FormState {
  searchTerm: string;
}
const formState = reactive<FormState>({
  searchTerm: "",
});

const onFinish = (values: FormState) => {
  console.log("Success:", values);
  router.push({ name: "search", query: { q: values.searchTerm } });
};

const onFinishFailed = (errorInfo: any) => {
  console.log("Failed:", errorInfo);
};
const disabled = computed(() => {
  return !formState.searchTerm;
});
</script>

<style scoped>
.background-none {
  background: none;
}

.search-icon {
  margin-top: -6px;
}

.ant-input-affix-wrapper-lg {
  line-height: 2.2;
}
</style>
