<template>
  <template v-if="cartStore.totalItems !== 0">
    <div
      class="flex flex-col justify-between"
      :style="{ height: 'calc(100vh - 103px)' }"
    >
      <div
        class="overflow-y-auto"
        :style="{ maxHeight: 'calc(100vh - 234px)' }"
      >
        <CartItem v-for="item in cartStore.items" :item="item" :key="item.id" />
      </div>
      <SubTotal
        :items-in-cart="cartStore.totalItems > 0"
        :total="cartStore.total"
      />
    </div>
  </template>
  <template v-else>
    <div
      class="relative flex flex-col justify-end"
      :style="{ height: 'calc(100vh - 103px)' }"
    >
      <div
        class="overflow-y-auto !absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
        :style="{ maxHeight: 'calc(100vh - 234px)' }"
      >
        <a-empty :description="null" />
      </div>
      <SubTotal
        :items-in-cart="cartStore.totalItems > 0"
        :total="cartStore.total"
      />
    </div>
  </template>
</template>

<script setup lang="ts">
import { useCartStore } from "@/stores/cart";
import CartItem from "@/components/cart/CartItem.vue";
import SubTotal from "@/components/cart/SubTotal.vue";

const cartStore = useCartStore();
</script>

<style scoped></style>
