<template>
  <header class="sticky top-0 z-30">
    <MobileSearch></MobileSearch>
    <div class="flex flex-row py-3 ms-auto justify-between z-20 top-1">
      <div class="flex justify-center flex-col">
        <img
          alt="Vue logo"
          class="logo cursor-pointer"
          src="https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/logo.svg"
          width="125"
          height="30"
          @click="$emit('nav', 'home')"
        />
      </div>
      <div class="hidden lg:flex flex-col justify-center">
        <a-menu mode="horizontal">
          <a-sub-menu key="nav1">
            <template #title>Navigation</template>
            <a-menu-item
              class="sub-title"
              key="setting:1"
              @click="$emit('nav', 'home')"
              >Home</a-menu-item
            >
            <a-menu-item
              :disabled="!auth"
              class="sub-title"
              key="setting:2"
              @click="$emit('nav', 'about')"
              >About</a-menu-item
            >
            <a-menu-item
              :disabled="!auth"
              class="sub-title"
              key="setting:3"
              @click="$emit('nav', 'admin')"
              >Admin</a-menu-item
            >
          </a-sub-menu>
        </a-menu>
      </div>
      <div class="flex flex-row justify-end lg:ml-auto">
        <div class="flex flex-col justify-center">
          <a-dropdown class="cursor-pointer" :trigger="['click']">
            <div class="flex flex-row" @click.prevent>
              <div class="lang-flag">
                <country-flag :country="currentLang.value" size="small" />
              </div>
              <div class="flex flex-row">
                <div class="flex flex-col justify-center">
                  <p class="dropdown-placeholder my-0 mx-1">
                    {{ currentLang.name }}
                  </p>
                </div>
                <div class="flex flex-col justify-center">
                  <DownOutlined />
                </div>
              </div>
            </div>
            <template #overlay>
              <a-menu>
                <a-menu-item
                  v-for="lang in layout.site_header.languageMenu"
                  :key="lang.id"
                >
                  <div
                    class="flex flex-row"
                    @click="$emit('setLanguage', lang)"
                  >
                    <div class="mt-1">
                      <country-flag :country="lang.value" size="small" />
                    </div>
                    <div class="flex flex-row">
                      <div class="flex flex-col justify-center">
                        <p class="my-0 mx-1" style="color: #282828">
                          {{ lang.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                </a-menu-item>
                <a-menu-divider />
              </a-menu>
            </template>
          </a-dropdown>
        </div>
        <div class="hidden lg:flex flex-col justify-center">
          <a-button class="cart" type="text" @click="$emit('openCart')"
            ><shopping-cart-outlined /> Cart</a-button
          >
          <span
            class="min-w-[14px] min-h-[14px] rounded-[14px] flex items-center justify-center bg-brand text-brand-light absolute top-0 ltr:left-8 rtl:right-2.5 text-8px font-bold"
          >
            {{ totalItems }}
          </span>
        </div>
        <div class="hidden lg:flex flex-col justify-center">
          <a-button
            class="login-out"
            type="text"
            v-if="auth"
            @click="$emit('logOut')"
            ><logout-outlined />Logout</a-button
          >
          <a-button class="login-out" type="text" v-else @click="$emit('logIn')"
            ><login-outlined />LogIn</a-button
          >
        </div>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import type { Language } from "@/models/layouts/models";
import {
  LoginOutlined,
  LogoutOutlined,
  DownOutlined,
  ShoppingCartOutlined,
} from "@ant-design/icons-vue";
import { layout } from "@/components/data/layout";
import MobileSearch from "@/components/layouts/MobileSearch.vue";

defineProps<{
  auth?: boolean;
  currentLang: Language;
  totalItems: number;
}>();
</script>

<style lang="scss">
.ant-menu {
  background: transparent;
  color: #f2f2f2;
}

.ant-menu .ant-menu-submenu .ant-menu-submenu-arrow {
  color: #f2f2f2;
}

.ant-menu-submenu-popup > .ant-menu {
  background: #181818;
}

.ant-menu-horizontal .ant-menu-submenu-title {
  margin: 0;
}

.ant-menu-light .ant-menu-submenu-title:hover {
  color: hsla(160, 100%, 37%, 1);
}

.ant-menu-item .ant-menu-item-icon + span,
.ant-menu-item .anticon + span {
  margin: 0;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after {
  border-bottom: 2px solid hsla(160, 100%, 37%, 1);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active {
  color: hsla(160, 100%, 37%, 1);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: hsla(160, 100%, 37%, 1);
}

.ant-menu-horizontal {
  line-height: 24px;
  border-bottom: none;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  padding: 0 15px;
}

.ant-menu-item-selected {
  color: hsla(160, 100%, 37%, 1);
}

.ant-menu-light .ant-menu-item:hover {
  color: hsla(160, 100%, 37%, 1);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active {
  color: hsla(160, 100%, 37%, 1);
}

.anticon-shopping-cart svg {
  margin-top: -6px;
}
.anticon-login svg {
  margin-top: -6px;
}
.anticon-logout svg {
  margin-top: -6px;
}
.anticon-down svg {
  color: #f2f2f2;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after {
  right: 15px;
  left: 15px;
  border-bottom: 2px solid hsla(160, 100%, 37%, 1);
}

.ant-menu-horizontal > .ant-menu-item::after {
  left: 15px;
  right: 15px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: hsla(160, 100%, 37%, 1);
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
  border-bottom: 2px solid hsla(160, 100%, 37%, 1);
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after {
  right: 15px;
  left: 15px;
  border-bottom: 2px solid hsla(160, 100%, 37%, 1);
}
.ant-menu-item-disabled,
.ant-menu-submenu-disabled {
  color: gray !important;
}
</style>

<style scoped>
.dropdown-placeholder {
  font-size: 14px;
  color: #f2f2f2;
}

.lang-flag {
  margin-top: 1px;
}

.cart,
.login-out {
  color: #f2f2f2;
  padding: 0;
  margin-left: 24px;
}
.cart:hover,
.login-out:hover {
  color: hsla(160, 100%, 37%, 1) !important;
}
.cart:hover::after,
.login-out:hover::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid hsla(160, 100%, 37%, 1);
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}
.cart:focus,
.login-out:focus {
  color: #f2f2f2;
}
.cart > .anticon + span,
.login-out > .anticon + span {
  margin-left: 4px;
}
</style>
