<template>
  <div
    class="flex flex-col pt-8 border-t col-span-full sm:col-span-1 md:col-start-4 xl:col-start-auto md:col-span-4 xl:col-span-3 2xl:ltr:pl-7 2xl:rtl:pr-7 3xl:ltr:pl-16 3xl:rtl:pr-16 sm:pt-0 sm:border-t-0 border-border-three"
  >
    <h3
      class="text-base lg:text-[17px] lg:leading-7 font-medium mb-4 sm:mb-5 lg:mb-6 pb-0.5"
    >
      Subscribe now
    </h3>
    <p
      class="text-sm leading-7 lg:leading-[27px] lg:text-15px lg:-mt-1 max-w-[400px]"
    >
      Subscribe your email for newsletter and featured news based on your
      interest
    </p>
    <form class="relative mt-5 max-w-[400px]">
      <a-input v-model:value="email" size="large" placeholder="Write your email here">
        <template #prefix>
          <MailOutlined />
        </template>
        <template #suffix>
          <SendOutlined style="color: hsla(160, 100%, 37%, 1)" />
        </template>
      </a-input>
    </form>
  </div>
</template>

<script setup lang="ts">
import { MailOutlined, SendOutlined } from "@ant-design/icons-vue";
import { ref } from "vue";
const email = ref<string>("");
</script>

<style lang="scss">
.anticon-send svg {
  margin-top: -1px;
}
</style>
