<template>
  <div class="pb-3.5 sm:pb-0 col-span-1 md:col-span-2">
    <h3 class="text-base lg:text-[17px] lg:leading-7 font-medium mb-4 sm:mb-5 lg:mb-6 pb-0.5">
      {{ data.widgetTitle }}
    </h3>
    <ul class="flex flex-col space-y-3 text-sm lg:text-15px">
      <li
        v-for="list in data.lists"
        :key="`widget-list--key${list.id}`"
        class="flex items-baseline"
      >
        <span
          v-if="list.icon"
          class="ltr:mr-3 rtl:ml-3 relative top-0.5 lg:top-1 text-sm lg:text-base"
        >
          {list.icon}
        </span>

        <a
          :href="list.path ? list.path : '#!'"
          class="transition-colors duration-200 hover:text-brand-dark"
        >
          {{ list.title }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import type { WidgetLink } from "@/models/layouts/models";

defineProps<{
  data: WidgetLink;
}>();
</script>

<style scoped></style>
