<template>
  <div
    class="pb-10 sm:pb-0 mb-4 border-b col-span-full sm:col-span-1 md:col-span-3 sm:border-b-0 border-border-three sm:mb-0"
  >
    <div
      class="flex flex-col text-center sm:ltr:text-left sm:rtl:text-right max-w-[300px] mx-auto sm:ltr:ml-0 sm:rtl:mr-0 pb-6 sm:pb-5"
    >
      <RouterLink to="/" class="mx-auto mb-3 lg:mb-5 sm:ltr:ml-0 sm:rtl:mr-0">
        <a-image
          alt="Vue logo"
          class="logo-link"
          src="https://s3.eu-central-1.amazonaws.com/cdn.babozar/images/logo.svg"
          width="125"
          height="30"
          layout="fixed"
          loading="eager"
        />
      </RouterLink>
      <p class="text-sm leading-7 lg:leading-[27px] lg:text-15px">
        We offers high-quality foods and the best delivery service, and the food
        market you can blindly trust
      </p>
    </div>

    <ul
      v-if="social"
      class="flex flex-wrap justify-center mx-auto sm:justify-start"
    >
      <li
        v-for="item in social"
        class="transition hover:opacity-80 last:ltr:mr-0 md:ltr:mr-5 md:mx-0 ltr:mr-4 last:rtl:ml-0 rtl:ml-4 md:rtl:ml-5"
        :key="`social-list--key${item.id}`"
      >
        <a :href="item.path ? item.path : '/#'">
          <a target="_blank" rel="noreferrer">
            <a-image
              :src="item.image"
              :alt="item.name"
              :height="item.height"
              :width="item.width"
              class="transform scale-85 md:scale-100"
            />
          </a>
        </a>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import type { Social } from "@/models/layouts/models";
defineProps<{
  social: Social[];
}>();
</script>

<style scoped>
.logo-link:hover {
  background-color: transparent;
}
</style>
