<template>
  <Suspense>
    <template #default>
      <slot></slot>
    </template>
    <template #fallback>
      <div class="content relative">
        <div
          class="!absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
        >
          <a-spin :indicator="indicator" />
        </div>
      </div>
    </template>
  </Suspense>
</template>

<script setup lang="ts">
import { indicator } from "@/utils/loadingIndicator";
</script>

<style scoped></style>
